t2/art570.dtd

<!--    Elsevier Journal Article Input DTD version 5.7.0
        Public Identifier: -//ES//DTD journal article DTD version 5.7.0//EN//XML
        
        Copyright © 1993-2023 Elsevier B.V.
        This is open access material under the CC BY license (http://creativecommons.org/licenses/by/4.0/).
-->
<!--    Supported doctypes: article, simple-article, book-review, exam

        Typical invocations:

        <!DOCTYPE article
          PUBLIC "-//ES//DTD journal article DTD version 5.7.0//EN//XML"
          "art570.dtd">

        <!DOCTYPE simple-article 
          PUBLIC "-//ES//DTD journal article DTD version 5.7.0//EN//XML"
          "art570.dtd">

        <!DOCTYPE book-review
          PUBLIC "-//ES//DTD journal article DTD version 5.7.0//EN//XML"
          "art570.dtd">

        <!DOCTYPE exam
          PUBLIC "-//ES//DTD journal article DTD version 5.7.0//EN//XML"
          "art570.dtd">

-->

<!-- include the common element pool -->

<!ENTITY % common.ent
    PUBLIC "-//ES//ELEMENTS common element pool version 1.7.0//EN//XML"
    "common170.ent">
%common.ent;

<!-- namespaces and public identifiers -->

<!ENTITY % ESJA.xmlns       "'http://www.elsevier.com/xml/ja/dtd'" >

<!-- attribute group entities -->

<!ENTITY % top-level.att
               "xmlns           CDATA               #FIXED  %ESJA.xmlns;
                version         CDATA               #FIXED  '5.7'
                xmlns:ce        CDATA               #FIXED  %ESCE.xmlns;
                xmlns:sa        CDATA               #FIXED  %ESSA.xmlns;
                xmlns:sb        CDATA               #FIXED  %ESSB.xmlns;
                xmlns:xlink     CDATA               #FIXED  %XLINK.xmlns;
                xml:lang        %iso639;            'en'">

<!-- article -->

<!ELEMENT   article             ( item-info, ce:floats?, head, body?, tail? )>
<!ATTLIST   article
                %top-level.att;
                docsubtype      CDATA               #REQUIRED>

<!-- simplified article, suitable for edi, cor and other pits -->

<!ELEMENT   simple-article      ( item-info, ce:floats?, simple-head, body?, simple-tail? )>
<!ATTLIST   simple-article
                %top-level.att;
                docsubtype      CDATA               #REQUIRED>

<!-- book review -->

<!ELEMENT   book-review         ( item-info, ce:floats?, book-review-head, body?, simple-tail? )>
<!ATTLIST   book-review
                %top-level.att;
                docsubtype      CDATA               #REQUIRED>

<!-- examination -->

<!ELEMENT   exam                ( item-info, ce:floats?, simple-head,
                                  ( ce:exam-answers | ce:exam-questions )+ )>
<!ATTLIST   exam
                %top-level.att;
                docsubtype      CDATA               #REQUIRED>

<!-- information about the item -->

<!ELEMENT   item-info           ( jid, aid?, ce:article-number?, ce:pii, ce:doi?,
                                  ce:document-thread?, %copyright;, ce:doctopics?,
                                  ce:preprint?, ce:associated-resource* )>
<!ELEMENT   jid                 ( %string.data; )* >
<!ELEMENT   aid                 ( %string.data; )* >

<!-- article front matter -->

<!ELEMENT   head                ( ce:article-footnote*, ce:markers?,
                                  ce:dochead?, ce:label?, ce:title, ce:subtitle?,
                                  ( ce:alt-title, ce:alt-subtitle? )*, ce:short-title?,
                                  ce:presented?, ce:dedication?, ce:author-group+, 
                                  ce:date-received?, ce:date-revised*, ce:date-accepted?,
                                  ce:date-original-available-online?, ce:date-original-vor-available-online?,
                                  ce:date-available-online?, ce:date-vor-available-online?,
                                  ce:miscellaneous*,
                                  ce:abstract*, ce:keywords*, ce:stereochem*, ce:data-availability? )>

<!ELEMENT   simple-head         ( ce:article-footnote*, ce:markers?,
                                  ( ( ce:label?, ce:title ) | ( ce:dochead, ce:label?, ce:title? ) ),
                                  ce:subtitle?,
                                  ( ce:alt-title, ce:alt-subtitle? )*, ce:short-title?,
                                  ce:author-group*, 
                                  ce:date-received?, ce:date-revised*, ce:date-accepted?, 
                                  ce:date-original-available-online?, ce:date-original-vor-available-online?,
                                  ce:date-available-online?, ce:date-vor-available-online?,
                                  ce:miscellaneous*,
                                  ce:abstract*, ce:keywords*, ce:data-availability? )>

<!ELEMENT   book-review-head    ( ce:article-footnote*, ce:markers?,
                                  ( ( ce:label?, ce:title, ce:alt-title*, ce:short-title? ) | 
                                    ( ce:dochead, ce:label?, ( ce:title, ce:alt-title*, ce:short-title? )? ) ),
                                  ( sb:reference | ce:other-ref )+,
                                  ce:author-group+,
                                  ce:date-received?, ce:date-revised*, ce:date-accepted?,
                                  ce:date-original-available-online?, ce:date-original-vor-available-online?,
                                  ce:date-available-online?, ce:date-vor-available-online?,                                  
                                  ce:miscellaneous* )>

<!-- article body -->

<!ELEMENT   body                ( ce:nomenclature?, ce:salutation?,
                                  ce:sections, ce:conflict-of-interest?,
                                  ce:acknowledgment*, ce:appendices? )>
<!ATTLIST   body
               %common-view.att; >

<!-- article back matter -->

<!ELEMENT   tail                ( ce:bibliography?, ce:further-reading?, 
                                  ce:glossary?, ce:biography*,
                                  ( ce:exam-answers | ce:exam-questions | ce:exam-reference )* )>
<!ATTLIST   tail
               %common-view.att; >

<!ELEMENT   simple-tail         ( ce:bibliography?, ce:further-reading?,
                                  ce:glossary?, ce:biography* )>
<!ATTLIST   simple-tail
               %common-view.att; >
