t2/book570.dtd

<!--    Elsevier Book DTD version 5.7.0p2
        Public Identifier: -//ES//DTD book DTD version 5.7.0//EN//XML

        Copyright © 2009-2024 Elsevier B.V.
        This is open access material under the CC BY license (http://creativecommons.org/licenses/by/4.0/).
-->
<!--    Supported doctypes: book, chapter, simple-chapter, examination, fb-non-chapter,
        glossary, index, introduction, bibliography

        Typical invocations:

        <!DOCTYPE book 
          PUBLIC "-//ES//DTD book DTD version 5.7.0//EN//XML"
          "book570.dtd">

        <!DOCTYPE chapter 
          PUBLIC "-//ES//DTD book DTD version 5.7.0//EN//XML"
          "book570.dtd">
        
        <!DOCTYPE simple-chapter
          PUBLIC "-//ES//DTD book DTD version 5.7.0//EN//XML"
          "book570.dtd">

        <!DOCTYPE examination
          PUBLIC "-//ES//DTD book DTD version 5.7.0//EN//XML"
          "book570.dtd">

        <!DOCTYPE fb-non-chapter
          PUBLIC "-//ES//DTD book DTD version 5.7.0//EN//XML"
          "book570.dtd">

        <!DOCTYPE glossary 
          PUBLIC "-//ES//DTD book DTD version 5.7.0//EN//XML"
          "book570.dtd">

        <!DOCTYPE index
          PUBLIC "-//ES//DTD book DTD version 5.7.0//EN//XML"
          "book570.dtd">

        <!DOCTYPE introduction
          PUBLIC "-//ES//DTD book DTD version 5.7.0//EN//XML"
          "book570.dtd">
        
        <!DOCTYPE bibliography
          PUBLIC "-//ES//DTD book DTD version 5.7.0//EN//XML"
          "book570.dtd">
-->

<!-- set local parameter entities -->

<!ENTITY % local.spar.data   "| ce:index-flag">
<!ENTITY % local.par.data    "| ce:index-flag">
<!ENTITY % local.textfn.data "| ce:br">

<!-- include the latest version of the common element pool -->

<!ENTITY % common.ent 
    PUBLIC "-//ES//ELEMENTS common element pool version 1.7.0//EN//XML"
    "common170.ent">
%common.ent;

<!-- namespaces and public identifiers -->

<!ENTITY % ES.xmlns "'http://www.elsevier.com/xml/bk/dtd'">

<!-- attribute group entities -->

<!ENTITY % top-level.att 
               "xmlns           CDATA               #FIXED  %ES.xmlns;
                version         CDATA               #FIXED  '5.7'
                xmlns:ce        CDATA               #FIXED  %ESCE.xmlns;
                xmlns:xlink     CDATA               #FIXED  %XLINK.xmlns;
                xml:lang        %iso639;            'en'">

<!-- elsevier-book -->

<!ELEMENT   book                ( info, top, ce:floats?, front?, body+, rear? )>
<!ATTLIST   book
                %top-level.att; 
                docsubtype      CDATA               #REQUIRED>

<!ELEMENT   info                ( ce:pii, ce:doi?, ce:isbn, ce:issn?, ce:document-thread?,
                                  ce:copyright, ce:imprint?, ce:doctopics?,
                                  ce:preprint?, ce:associated-resource* )>

<!ELEMENT   top                 ( %titles;, ce:edition?, ce:copyright-line, cover-image?, 
                                  ce:editors*, ce:author-group*, dedication*, ce:sections )>

<!ELEMENT   cover-image         ( ce:figure )>

<!ELEMENT   dedication          ( ce:simple-para+ )> 

<!ELEMENT   front               ( ce:include-item+ )>

<!ELEMENT   body                ( volume | part | section | ce:include-item )+ >
<!ATTLIST   body
                %common-role.att;>

<!ELEMENT   volume              ( ce:label?, ce:pii?, ce:title?, ce:author-group*, ce:intro?,
                                  ( part | section | ce:include-item )+ )>
<!ATTLIST   volume
                %common-reqref.att; 
                %common-role.att;>

<!ELEMENT   part                ( ce:label?, ce:title?, ce:author-group*, ce:intro?, 
                                  ( part | section | ce:include-item | ce:further-reading )+ )>
<!ATTLIST   part
                %common-reqref.att; 
                %common-role.att;>
    
<!ELEMENT   section             ( ce:label?, ce:title?, ce:author-group*, ce:intro?, 
                                  ( ce:include-item | ce:further-reading )+ )>
<!ATTLIST   section
                %common-reqref.att; 
                %common-role.att;>

<!ELEMENT   introduction        ( info, ce:floats?, ce:label?, ce:title, ce:author-group*,
                                  ce:sections?, ( ce:bibliography | ce:further-reading )* )>
<!ATTLIST   introduction
                %top-level.att;
                %common-reqref.att; 
                %common-role.att;
                docsubtype      CDATA               #REQUIRED>

<!ELEMENT   chapter             ( ce:footnote*, info, ce:floats?, ce:label?, %titles;,
                                  ce:author-group*, ce:miscellaneous*, ce:abstract*, ce:keywords*,
                                  ce:data-availability?, ce:displayed-quote*, poem?,
                                  outline*, objectives?, ce:nomenclature*,
                                  ce:conflict-of-interest?, ce:acknowledgment*,
                                  ce:intro?, ( ce:sections | subchapter | exam )+, 
                                  ( ( ( ce:bibliography | ce:further-reading )+ | ce:section | ce:biography ),
                                    ( ce:section | exam | ce:biography )* )? )>
<!ATTLIST   chapter
                %top-level.att; 
                %common-reqref.att;
                %common-role.att;
                docsubtype      CDATA               #REQUIRED>
             
<!ELEMENT   simple-chapter      ( ce:footnote*, info, ce:floats?, ce:label?, %titles;,
                                  ce:author-group*, ce:miscellaneous*, ce:abstract*,
                                  ce:data-availability?, ce:displayed-quote*, poem?, 
                                  outline*, objectives?, ce:nomenclature*,
                                  ce:conflict-of-interest?, ce:acknowledgment*,
                                  ce:intro?, ( ce:sections | subchapter | exam )*, 
                                  ( ( ( ce:bibliography | ce:further-reading )+ | ce:section | ce:biography ),
                                    ( ce:section | exam | ce:biography )* )? )>
<!ATTLIST   simple-chapter
                %top-level.att;
                %common-reqref.att;
                %common-role.att;
                docsubtype      CDATA               #REQUIRED>

<!ELEMENT   subchapter          ( ce:footnote*, ce:label?, ce:title, ce:author-group*, 
                                  ce:displayed-quote*, ce:nomenclature*,
                                  ce:conflict-of-interest?, ce:acknowledgment*, ce:intro?, 
                                  ( ce:sections | subchapter | exam )+,
                                  ( ( ( ce:bibliography | ce:further-reading )+ | ce:section ),
                                    ( ce:section | exam )* )? )>
<!ATTLIST   subchapter
                %common-reqref.att; 
                %common-role.att;
                %common-view.att;>

<!ELEMENT   rear                ( rearpart+ )>

<!ELEMENT   rearpart            ( ce:label?, ce:title?, ce:author-group*, ce:include-item+ )>
<!ATTLIST   rearpart
                %common-reqref.att; 
                %common-role.att;>

<!ELEMENT   fb-non-chapter      ( info, ce:floats?, ce:label?, ce:title, 
                                  ( ce:author-group | ce:nomenclature | ce:para | ce:section )*, 
                                  ce:bibliography? , ce:further-reading? )>
<!ATTLIST   fb-non-chapter
                %top-level.att; 
                %common-reqref.att; 
                %common-role.att;
                docsubtype      CDATA               #REQUIRED>

<!ELEMENT   exam                ( ce:title?, ( ( ce:exam-questions, ce:exam-answers? ) | ce:exam-answers ) )>
<!ATTLIST   exam
                %common-optref-link.att;
                %common-role.att;
                %common-view.att;>

<!ELEMENT   outline             ( ce:section-title?, ce:list )>
<!ATTLIST   outline
                %common-optref-link.att;
                %common-role.att;
                %common-view.att;>

<!ELEMENT   objectives          ( ce:section-title?, ce:para+ )>

<!ELEMENT   poem                ( ce:title?, ce:author?, stanza+, ce:source? )>
<!ATTLIST   poem
                %common-optref-link.att;>

<!ELEMENT   stanza              ( line+ )>

<!ELEMENT   line                ( %richstring.data; )* >

<!ELEMENT   examination         ( info, ce:floats?, ce:label?, ce:title, ce:author-group*,
                                  ce:intro?, exam* )>
<!ATTLIST   examination
                %top-level.att;
                %common-reqref.att; 
                %common-role.att; 
                docsubtype      CDATA               #REQUIRED>

<!ELEMENT   glossary            ( info, ce:label?, ce:title?, ce:glossary*,
                                  ce:bibliography?, ce:further-reading? )>
<!ATTLIST   glossary
                %top-level.att;
                %common-reqref.att; 
                %common-role.att;
                docsubtype      CDATA               #REQUIRED>

<!ELEMENT   index               ( info, ce:label?, ce:title?, ce:index* )>
<!ATTLIST   index
                %top-level.att;
                %common-reqref.att; 
                %common-role.att;
                docsubtype      CDATA               #REQUIRED>

<!ELEMENT   bibliography        ( info, ce:label?, ce:title?,
                                  ( ce:bibliography | ce:further-reading )* )>
<!ATTLIST   bibliography
                %top-level.att;
                %common-reqref.att; 
                %common-role.att;
                docsubtype      CDATA               #REQUIRED>
